<div class="container">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, required: true, label: false, input_html: { class: 'form-control' }, autocomplete: 'off'  %>
        <%= f.text_field :password_confirmation, required: true, label: false, input_html: { class: 'form-control' }, autocomplete: 'off'  %>
      </div>

      <div class="field">
        <% if f.object.password_required? %>

        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>



