<% content_for :head do %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<% end %>


<div class="fluid-container">
  <div class="row">
    <div class="jumbotron vertical-center">
      <div class="container text-center">
        <h1 class="animated bounceInDown">Welcome to the best website in the world!</h1>
      </div>
    </div>
  </div>
</div>
<div id="users" class="container">
  <% for user in @users do %>
      <div class="row">
        <div class="col-md-6">
          <img src="<%= user.image%>">
        </div>
        <div class="col-md-6">
          <h2 class="user-email animated"><%= user.email %></h2>
        </div>
      </div>
  <% end %>

  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <script type="text/javascript">
    <%= raw Rails.application.assets['index.js'].to_s %>
  </script>
</div>

