<% content_for :head do %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<% end %>

<div class="container">
  <div class="row">
    <div id="login" class="col-md-6 center-block animated bounceInDown">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
