<!DOCTYPE html>
<html>
<head>
  <title>FacebookOAuthTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>

  <% if content_for?(:head) %>
      <%= yield :head %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

</html>
